@import "stylesheets/utilities/colours.scss";
@import "stylesheets/utilities/variables.scss";

.Music {
  &__header {
    margin-bottom: 40px;
  }

  &__releases-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    align-items: flex-start;

    @media (max-width: $small-screen-width) {
      grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
    }
  }

  &__release-title {
    font-weight: 700;
    text-align: center;
  }

  &__cover-art {
    width: 100%;
    display: block;
  }
}
