@import "stylesheets/utilities/colours.scss";
@import "stylesheets/utilities/variables.scss";

.App {
  max-width: 1250px;
  min-width: $home-centerpiece-width;
  margin: 0 auto;
  padding: 0 $app-margin;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @media (max-width: $small-screen-width) {
    width: 100%;
    min-width: auto;
  }
}
