@import "stylesheets/utilities/colours.scss";

.About {
  width: 1250px;
  margin: 0 auto;

  &__contact {
    margin-top: 40px;
    width: 400px;

    h3 {
      margin: 0;
    }
  }

  &__contact-input {
      margin-top: 10px;

    & input, & textarea {
      background-color: rgba(0, 0, 0, 0);
      width: 100%;
      height: 32px;
      border: 1px solid grey;
      border-radius: 3px;
      font-size: 16px;
      color: black;
    }

    & textarea {
      min-height: 100px;
      margin-top: 5px;
    }
  }

  &__contact-button {
    color: black;
    width: 100px;
    height: 32px;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    cursor: pointer;

    &:hover {
      border-color: black;
    }
  }

  &__contact-error {
    margin-top: 10px;
    color: red;
  }
}
