@import "stylesheets/utilities/colours.scss";

$sidebar-width: 200px;
$sidebar-right-margin: 20px;

.App-header {
  background-color: $color-white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.page-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.nav-sidebar {
  flex-grow: 1;
  flex-basis: 200px;
  text-align: left;

  a {
    font-weight: 700;
    display: block;
  }
}

.page-content {
  flex-basis: 0;
  flex-grow: 999;
}
