@import "stylesheets/utilities/colours.scss";
@import "stylesheets/utilities/variables.scss";

$sidebar-width: 200px;
$sidebar-right-margin: 20px;

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__sidebar {
    flex-grow: 1;
    flex-basis: 200px;
    text-align: left;

    @media (max-width: $small-screen-breakpoint) {
      flex-basis: 100%;
      margin-bottom: 30px;
    }

    a {
      font-weight: 700;
      display: block;
    }
  }
}

.App-header {
  background-color: $color-white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.page-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.page-content {
  flex-basis: 0;
  flex-grow: 999;
}
