$gallery-width: 350px;

.Gallery {
  width: 100%;
  display: block;

  &__header {
    h1 {
      margin: 0;
    }
    margin: 0px;
    margin-bottom: 40px;
  }

  &__galleries-grid {
    width: 100%;
    columns: 4 $gallery-width;
    column-gap: 1rem;
  }

  &__gallery-container {
    display: inline-block;
    margin-bottom: 1rem;
    cursor: pointer;
  }

  &__gallery-cover {
    width: 100%;
  }
}
