// $gallery-width: 350px;

.HomeGallery {
  width: 100%;
  display: block;

  &__header {
    h1 {
      margin: 0;
    }
    margin: 0px;
    margin-bottom: 40px;
  }

  &__galleries-grid {
    width: 100%;
    columns: 4;
    column-gap: 0;
  }

  &__gallery-container {
    // display: inline-block;
    position: relative;
    // margin-bottom: 1rem;
    cursor: pointer;
  }

  &__gallery-container-overlay {
    position: absolute;
    display: grid;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: .3s ease;

    &:hover {
      opacity: 1;
    }
  }

  &__gallery-cover {
    width: 100%;
  }
}
