@import "stylesheets/utilities/colours.scss";
@import "stylesheets/utilities/variables.scss";

$main-font: 'Montserrat', sans-serif;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $main-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $color-white;
  // TODO: make switching to dark mode easier
  // uncomment for dark mode
  // background-color: #3d3f3f;
  // color: $color-white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

textarea, button {
  font-family: $main-font;
}

a {
  text-decoration: none;
  color: $color-link;
}

a:hover {
  text-decoration: underline;
  color: $color-link-hover;
}
