@import "stylesheets/utilities/colours.scss";
@import "stylesheets/utilities/variables.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 0 2em;

  @media (max-width: $small-screen-breakpoint) {
   padding: 0 10px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: $color-link;
}

a:focus, a:active, a:hover {
  text-decoration: underline;
  color: $color-link-hover;
}
