@import "stylesheets/utilities/variables.scss";

$release-width: 350px;
$release-width-small: 200px;

.Music {
  width: 100%;
  display: block;

  h1 {
    margin: 0px;
    margin-bottom: 40px;
  }

  &__releases-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, $release-width);
    grid-column-gap: 40px;
    grid-row-gap: 40px;

    @media (max-width: $small-screen-breakpoint) {
      grid-template-columns: repeat(auto-fill, $release-width-small);
    }

    @media (max-width: $xsmall-screen-breakpoint) {
      grid-template-columns: auto;
    }
  }

  &__release-container {
    display: inline-block;
    text-align: center;

    a {
      display: block;
      font-weight: 700;
    }
  }

  &__cover-art {
    width: 100%;
  }
}
