@import "stylesheets/utilities/colours.scss";
@import "stylesheets/utilities/variables.scss";

.Home {
  &__container {
    margin: 75px auto 0;
    width: 100%;
  }

  &__centerpiece {
    width: $home-centerpiece-width;
    margin: 0 auto;
  }

  &__image-overlay {
    position: absolute;
    display: grid;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: .3s ease;

    &:hover {
      opacity: 1;
    }
  }

  &__image-overlay-text {
    color: $color-white;
    font-weight: 600;
    font-size: 24pt;
    text-transform: uppercase;
    margin: auto;
    letter-spacing: 2px;
  }

  &__image {
    position: relative;
    cursor: pointer;
    background-color: black;
    background-position: center;
    background-size: cover;
    float: left;

    /*
                  +-----------+
                  |           |
                  |           |
    +----------+  |           |
    |          |  |           |
    |          |  |           |
    |     1    |  |           |
    |          |  |     2     |
    |          |  |           |
    +----------+  |           |
       +-------+  |           |
       |       |  |           |
       |   3   |  +-----------+
       |       |
       |       |
       +-------+
    */

    img {
      display: block;
    }

    &--1 {
      margin-top: 40px;

      img {
        width: 431px;
        height: 308px;
        object-fit: cover;
        object-position: center;
      }
    }

    &--2 {
      margin-left: 20px;

      img {
        width: 357px;
        height: 500px;
      }
    }

    &--3 {
      transform: translateY(-131px);
      margin-left: 61px;

      img {
        width: 370px;
        height: 240px;
      }
    }
  }

  &__clear {
    clear: both;
  }

  @media (max-width: $small-screen-width) {
    &__container {
      margin-top: 0;
    }

    &__centerpiece {
      width: 100%;
    }

    &__image {
      float: none;
      transform: none;

      &--1, &--2, &--3 {
        margin: 0 0 30px;

        img {
          width:100%;
          height: auto;
        }
      }
    }
  }
}