@import "stylesheets/utilities/colours.scss";
@import "stylesheets/utilities/variables.scss";

.Header {
  margin: $app-margin 0;

  &__name {
    font-size: 48pt;
    font-weight: 600;
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: black;
    }

    a:hover, a:active {
      text-decoration: underline;
      color: $color-link-hover;
    }
  }

  &__icon-container {
    display: inline;
    float: right;
    position: relative;
    top: 39px;

    a {
    margin-right: 10px;
    }

    a:last-child {
      margin-right: 0;
    }
  }

  &__icon {
    color: black;

    &:hover {
      color: $color-link-hover;
    }
  }

  @media (max-width: $xsmall-screen-width) {
    &__icon-container {
      float: none;
      display: block;
      top: auto;
      margin-top: 5px;

      svg {
        width: 48;
        height: 48;
      }
    }
  }
}
