@import "stylesheets/utilities/colours.scss";
@import "stylesheets/utilities/variables.scss";

.Photography {
  &__header {
    margin-bottom: 40px;
  }

  &__galleries-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(323px, 1fr));
    grid-gap: 20px;
    align-items: flex-start;

    @media (max-width: $small-screen-width) {
      grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
    }
  }

  &__gallery-image {
    width: 100%;
    display: block;
  }
}
