@import "stylesheets/utilities/colours.scss";

.Photography {
  &__header {
    margin-bottom: 40px;
  }

  &__galleries-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: .5rem;
    align-items: flex-start;
  }

  &__gallery-image {
    width: 100%;
    display: block;
  }
}
