$gallery-width: 350px;

.Photography {
  &__header {
    margin: 0;
    margin-bottom: 40px;

    h1 {
      margin: 0;
    }
  }

  &__galleries-grid {
    width: 100%;
    columns: 4 $gallery-width;
    column-gap: 1rem;
  }

  &__image-container {
    margin-bottom: 10px;
  }

  &__image {
    width: 100%;
    display: block;
  }
}
